<app-lside></app-lside>
<router-outlet>

</router-outlet>
<div class="main">
  <h1>Incoming New Items</h1>
  <div class="addItem">
     <input [(ngModel)] = "pid" placeholder="ProductCode" class="addText">
     <input [(ngModel)] = "pname" placeholder="ProductName" class="addText">
     
     <input [(ngModel)] = "pprice" placeholder="ProductPrice" class="addText">
     

     <input [(ngModel)] = "pgst" placeholder="ProductGst" class="addText">
    <button (click)="pushItem()" >Add</button>
  </div> 
  <ul>
    <li *ngFor="let i of items;let ind=index">
      Your product {{i}} has been accounted
      
      <span (click) = "removeItem(ind)"><u>remove</u></span>
    </li> 
     

  </ul> 
  
</div> 
  <div class="bot">
    <h3>The Newly Added Products</h3>
    <h3>{{pnp}}</h3>
    <a routerLink="/finalbill" routerLinkActive="active">Final bill</a> 
  </div> 
   

  <!-- <app-cart></app-cart>                      -->
<!-- <app-finalbill></app-finalbill> -->
